  <div class="photo-hero-explainer-wrapper full-screen-block">
    <div class="block-text-wrapper text-center">
      <h1>How does it work?</h1>
      <ul class="list-unstyled how-to-list list-inline">
        <li class="col-md-4">
          <%= image_tag 'upload.png', :class => 'image-list' %>
          <h4>1. Upload your photoset to SweetSpot.</h4>
        </li>
        <li class="col-md-4">
          <%= image_tag 'hotspot.png', :class => 'image-list' %>
          <h4>2. Set hotspots to create links to other photos.</h4>
        </li>
        <li class="col-md-4">
          <%= image_tag 'publish.png', :class => 'image-list' %>
          <h4>3. Publish!</h4>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div><!-- .container -->
<div class="photo-hero-tagline-wrapper full-screen-block">
  <div class="block-text-wrapper">
    <div class="text-center">
      <h2>Go beyond the "next" button.</h2>
      <h3>Engage your audience with thoughtful storytelling.</h3>
      <br>
      <%= link_to 'Get started', setup_story_path, :class => 'btn btn-lg btn-primary' %>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="container">
