</div><!-- .container -->
<div class="photo-hero-tagline-wrapper full-screen-block">
  <div class="block-text-wrapper">
    <div class="text-center">
      <h2>Go beyond the "next" button.</h2>
      <h3>Engage your audience with thoughtful storytelling.</h3>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="container">
  <div class="photo-hero-explainer-wrapper full-screen-block">
    <div class="block-text-wrapper">
      <h3>How does it work?</h3>
      <ul class="list-unstyled how-to-list">
        <li><h4>1. Upload your photoset to SweetSpot.</h4></li>
        <li><h4>2. Set hotspots to create links to other photos.</h4></li>
        <li><h4>3. Publish!</h4></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
