<div class="text-center pricing-block">
  <h1>Pricing</h1>
  <p>All purchases are 100% refundable upon request.</p>
  <div class="col-md-4 pricing-element">
    <div class="action-title">
      <h3>Basic</h3>
    </div>
    <div class="action-content">
      <p>Most Popular</p>
      <h4>Unlimited photos</h4>
      <h4>Up to three Active Stories</h4>
      <h4>Basic Analytics</h4>
      <h4>Default story URL</h4>
      <h4>Custom subdomain</h4>
      <h4>Publically share stories</h4>
    </div>
    <div class="action-button">
      <%= link_to 'Start Now', dash_path, :class => 'btn btn-success' %>
    </div>
  </div>
  <div class="col-md-4 border-right border-left pricing-element">
    <div class="action-title">
      <h2>Pro</h2>
    </div>
    <div class="action-content">
      <p><b>Recommended</b></p>
      <h4>Unlimited photos</h4>
      <h4>Unlimited Active Stories</h4>
      <h4>Advanced Analytics</h4>
      <h4>Custom story URL</h4>
      <h4>Personal domain</h4>
      <h4>Password protect stories</h4>
    </div>
    <div class="action-button">
      <%= link_to 'Start Now', dash_path, :class => 'btn btn-success btn-lg' %>
    </div>
  </div>
  <div class="col-md-4 pricing-element">
    <div class="action-title">
      <h3>Organization</h3>
    </div>
    <div class="action-content">
      <p>Highest Value</p>
      <h4>Unlimited photos</h4>
      <h4>Unlimited Active Stories</h4>
      <h4>Custom Analytics</h4>
      <h4>Custom story URL</h4>
      <h4>Personal domain</h4>
      <h4>Password protect stories</h4>
    </div>
    <div class="action-button">
      <%= link_to 'Start Now', dash_path, :class => 'btn btn-success' %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="text-center free-container">
    <p>
      <%= link_to 'Free tier for one active story', dash_path, :class => 'free-tier' %>
    </p>
  </div>
</div>

<div class="col-md-10 col-centered question-block">
  <h1 class="text-center">Questions</h1>
  <div class="col-md-6">
    <h4>Q: What is a story?</h4>
    <p>A story is the series of photos tied together by sweetspots. Stories are used to create a narative for engaging your audience deeply with visual content. Each story has its own landing page, full-screen mode, embed code, and media management system.</p>
  </div>
  <div class="col-md-6">
    <h4>Q: What if my subscription expires?</h4>
    <p>Stories generated on expired subscriptions will continue to be accessible via thier links. Existing embed codes and custom domain links will continue to be active. Accounts with due balances can not edit or update stories.</p>
  </div>
  <div class="col-md-6">
    <h4>Q: What are the analytics?</h4>
    <p>SweetSpot has many points of audience engagement. To better understand your audience, we provide three tiers of engagement. Our basic tier shows visit counts and overall page view count. In addition to the basic services, our advanced tier provides details on time spent on slides and hotspot usage behavior. Our custon analytics offering allows event tracking for optimized user analysis and hotspot placement.</p>
  </div>
  <div class="col-md-6">
    <h4>Q: Can I export my projects?</h4>
    <p>Yes! We provide a way to export your projects.</p>
  </div>
  <div class="col-md-6">
    <h4>Q: For more questions, who can I talk to?</h4>
    <p>For product or service questions, contact Lenny at rememberlenny@getsweet.io. For security questions, please contact security@getsweet.io.</p>
  </div>
  <div class="clearfix"></div>
</div>
