<%= render 'partial/topnav_global' %>

<div class="col-med-4">
  <ul class="no-bullet">
    <li>Test</li>
    <li>123</li>
    <li>gda</li>
  </ul>
</div>
<div class="col-med-8">
  <div class="messaging">
    <h3>You don’t have any listings!</h3>

    <p>Listing your space on Airbnb is an easy way to monetize any extra space you have.</p>

    <p>You’ll also get to meet interesting travelers from around the world!</p>

    <%= link_to 'Post a new listing', new_stories_path, :class => 'btn btn-primary' %>

  </div>
</div>
