  <div class="col-md-3 col-centered">
    <div class="user-info text-center">
      <div class="image-round-wrapper">
        <%= image_tag attachment_url(@user, :image), :class => 'image-target' %>
      </div>
      <h1>@<%= @user.username %></h1>
    </div>
  </div>
</div><!-- .container -->
<div class="story-container">
  <%= render 'stories/featured_stories' %>
</div>
<div class="container">
