</div><!-- .container -->
<div class="clearfix"></div>

<div class="hero-content-wrapper">
  <div class="video-wrapper">
    <video autoplay  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" loop>
      <source src="//s3.amazonaws.com/snd-makes-dc/video.mp4" type="video/mp4">
    </video>
  </div>

  <div class="hero-text">
    <h1>Tell Better Stories</h1>
    <p>Link photos using "sweetspots" for exploratory photo story</p>
  </div>

</div>
<div class="clearfix"></div>
<div class="container">
