</div><!-- .container -->
<div class="clearfix"></div>
<div class="hero-text">
  <h1>Tell Better Stories</h1>
  <p>Link photos using "sweetspots" for exploratory photo story</p>
</div>
<div class="clearfix"></div>
<div class="container">
