  </div>
</div>
<div class="clearfix"></div>
<div class="featured-image-wrapper">
  <% @featured_stories.each do |story| %>
    <div class="col-md-4 image-wrapper col-xs-4">
      <%= link_to story_path(story) do %>
        <% if !story.films.first.nil? %>
          <% if !story.films.first.image.nil? %>
            <%= image_tag attachment_url(story.films.first, :image, :fill, 400, 300) %>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to story_path(story) do %>
        <h3 class="story-text"><%= story.name %></h3>
      <% end %>
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>
<div class="container">
