<div class="stories-index index-block">
  <div class="text-center text-block">
    <h2>Storytelling for Everyone</h2>
    <p>Checkout new, engaging stories for inspiration.</p>
  </div>
  <div class="">
    <% @stories.each do |story| %>
      <div class="col-md-4 image-wrapper">
        <%= link_to path_path(story.id) do %>
        <%= image_tag attachment_url(story.films.first, :image, :fill, 400, 300)  %>
        <% end %>
        <h3 class="story-text"><%= story.name %></h3>
      </div>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>
