<div class="stories-index index-block">
  <div class="text-center text-block">
    <h2>Storytelling for Everyone</h2>
    <p>Checkout new, engaging stories for inspiration.</p>
  </div>
  <%= render 'stories/featured_stories' %>
  <div class="clearfix"></div>
</div>
