<div class="col-md-12 text-center story-container">
  <div class="background-image" style="width: 100%; z-index: -1; height: 300px;">
    <div class="clearfix"></div>
  </div>
  <div class="text-content">
    <h3>Create your first story</h3>
    <div class="col-md-4 col-centered">
      <hr>
      <%= link_to 'Click to Get Started', new_story_path, :class => 'btn btn-lg btn-success' %>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
