<div class="text-center">
  <h1>Tell A Story</h1>
  <p class="text-lead">SweetSpot lets you turn photos into a non-linear narrative</p>
</div>
</div> <!-- End container -->
<div class="clearfix"></div>
<div style="background: #eee">
  <div class="container">
    <%= render 'form' %>
    <%= link_to 'Back', stories_path %>
  </div>
</div>
