<% content_for :page_type, 'creating-story' %>

</div> <!-- End container -->
<div class="full-page-form">
  <div class="form-container-relative">
    <%= render 'form' %>
  </div>
  <div class="clearfix"></div>
</div>
