<div class="footer">
  <ul class="list-inline">
    <li><%= link_to 'Help and Contact Us', contact_path %></li>
    <li><%= link_to 'Terms of Service', terms_path %></li>
    <li><%= link_to 'Privacy Policy', privacy_path %></li>
    <li><%= link_to 'Submissions and Disclosure Policy', submission_path %></li>
  </ul>
</div>
