input{
  line-height: 1em;
  font-size: 2em;
  padding: 0.3em .2em;
}

.action-content {
  margin-bottom: 40px;
  p{
    margin-bottom: 30px;
  }
}

.form-container-relative{
  position: relative;
}

.full-page-form{
  .submit-fixed-button{
    position: fixed;
    top: 1em;
    right: 1em;
  }

  .clearform{
    .form-control{
      font-size: 28px;
      height: 66px;
      background: none;
      color: rgb(51, 51, 51);
      border: none;
      text-align: center;
      box-shadow: none;
      &:focus{
        box-shadow: none;
        border: none;
      }
      &.title{
        font-size: 58px;
        height: 85px;
      }
    }
  }
}
