.col-centered{
    float: none !important;
    margin: 0 auto;
}

.border-left{
  border-left: 1px solid rgb(221, 221, 221);
}
.border-right{
  border-right: 1px solid rgb(221, 221, 221);
}

.how-to-list img {
  max-height: 200px;
}
