.create-block-wrapper{
  height: 110px;
  background: rgb(238, 238, 238);
  padding: 30px 20px;
  .inline-block{
    margin: 0px;
  }
  h3{
    font-size: 44px;
  }
  .share-block {
    h4{
      margin-left: 30px;
    }
    ul{
      margin-left: 20px;
    }
  }
}
