.image-wrapper{
  position: relative;
  text-align: center;
  .story-text{
    position: absolute;
    top:50%;
    left: 0px;
    right: 0px;
    margin: -.5em auto 0;
    font-size: 38px;
    color: rgb(255, 255, 255);
  }
}

.hero-content-wrapper{
  position: relative;
  margin-top: -20px;
  z-index: 0;
  margin-bottom: 30px;
}

.hero-text{
  position: absolute;
  top: 20%;
  left: 0px;
  right: 0px;
  margin: -100px auto 0px;
}

.video-wrapper{
  background: black;
  width: 100%;
  max-height: 450px;
  overflow:hidden;
  video{
    opacity: .8;
    width: 100%;
  }
}
